<a href="https://colab.research.google.com/github/TuckerRasbury/00_MaternalMortalityandAbortionRelatedStatistics/blob/main/01_DataWrangling_PublicData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projecting Heightened Maternal Mortality
- _by: Isaac D. Tucker-Rasbury_
- _Start: 6/27/2022_

##### Summary
Ingesting data from reputable sources and conducting a regression analysis to forecast maternal mortality by state. 

##### Objective
* 1. Subject Matter - Mapping Maternal Morbidity Factors On the US and then Layering in abortion care restrictions and bans.
* 2. Skillset Used - data wrangling to visualization.
* 3. Goal - Leverage Python to aggregate data fromb Public Sources and Subject matter expert sites.

## Environment Setup and Dataset Imports

### Initial Imports for creating Data Analytics Environment

In [149]:
# Easiest Import Option

## Libraries for Data Science - Import All Statement
# OFF SWITCH -> import pyforest

# OFF SWITCH -> lazy_imports()

In [150]:
#Pip Update
%pip install --upgrade pip
%pip --version

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pip in /usr/local/lib/python3.8/dist-packages (23.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
pip 23.0 from /usr/local/lib/python3.8/dist-packages/pip (python 3.8)

In [151]:
# Installations and Imports for creating Data Analytics Environment

%pip install --upgrade pyforest
 #Comment | %python -m pyforest install_extensions
%pip install --upgrade folium
%pip install pandas
%pip install matplotlib
%pip install bonobo
%pip install scrapy # Project Description - https://pypi.org/project/Scrapy/
%pip install beautifulsoup4 # Project Description - https://pypi.org/project/beautifulsoup4/
%pip install seaborn
%pip install geoplotlib
%pip install Pyglet
%pip install plotly

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyforest in /usr/local/lib/python3.8/dist-packages (1.1.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: folium in /usr/local/lib/python3.8/dist-packages (0.14.0)
Requirement already satisfied: branca>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from folium) (0.6.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from folium) (1.21.6)
Requirement already satisfied: jinja2>=2.9 in /usr/local/lib/python3.8/dist-packages (from folium) (2.11.3)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from folium) (2.25.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2>=2.9->folium) (2.0.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->folium) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->folium) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->folium) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->folium) (2022.12.7)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (3.2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: bonobo in /usr/local/lib/python3.8/dist-packages (0.6.4)
Requirement already satisfied: packaging~=19.0 in /usr/local/lib/python3.8/dist-packages (from bonobo) (19.2)
Requirement already satisfied: jinja2~=2.9 in /usr/local/lib/python3.8/dist-packages (from bonobo) (2.11.3)
Requirement already satisfied: graphviz<0.9,>=0.8 in /usr/local/lib/python3.8/dist-packages (from bonobo) (0.8.4)
Requirement already satisfied: python-slugify~=1.2.0 in /usr/local/lib/python3.8/dist-packages (from bonobo) (1.2.6)
Requirement already satisfied: stevedore~=1.27 in /usr/local/lib/python3.8/dist-packages (from bonobo) (1.32.0)
Requirement already satisfied: requests~=2.0 in /usr/local/lib/python3.8/dist-packages (from bonobo) (2.25.1)
Requirement already satisfied: fs~=2.0 in /usr/local/lib/python3.8/dist-packages (from bonobo) (2.4.16)
Requirement already satisfied: mondrian~=0.7 in /usr/local/lib/python3.8/dist-packages (from bonobo) (0.8.1)
Requirement already satisfied: psutil~=5.4 in /usr/local/lib/python3.8/dist-packages (from bonobo) (5.4.8)
Requirement already satisfied: whistle~=1.0 in /usr/local/lib/python3.8/dist-packages (from bonobo) (1.0.1)
Requirement already satisfied: appdirs~=1.4.3 in /usr/local/lib/python3.8/dist-packages (from fs~=2.0->bonobo) (1.4.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from fs~=2.0->bonobo) (57.4.0)
Requirement already satisfied: six~=1.10 in /usr/local/lib/python3.8/dist-packages (from fs~=2.0->bonobo) (1.15.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2~=2.9->bonobo) (2.0.1)
Requirement already satisfied: colorama<0.5,>=0.3.7 in /usr/local/lib/python3.8/dist-packages (from mondrian~=0.7->bonobo) (0.4.6)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging~=19.0->bonobo) (3.0.9)
Requirement already satisfied: Unidecode>=0.04.16 in /usr/local/lib/python3.8/dist-packages (from python-slugify~=1.2.0->bonobo) (1.3.6)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests~=2.0->bonobo) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests~=2.0->bonobo) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests~=2.0->bonobo) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests~=2.0->bonobo) (2022.12.7)
Requirement already satisfied: pbr!=2.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from stevedore~=1.27->bonobo) (5.11.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scrapy in /usr/local/lib/python3.8/dist-packages (2.8.0)
Requirement already satisfied: protego>=0.1.15 in /usr/local/lib/python3.8/dist-packages (from scrapy) (0.2.1)
Requirement already satisfied: itemloaders>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from scrapy) (1.0.6)
Requirement already satisfied: queuelib>=1.4.2 in /usr/local/lib/python3.8/dist-packages (from scrapy) (1.6.2)
Requirement already satisfied: tldextract in /usr/local/lib/python3.8/dist-packages (from scrapy) (3.4.0)
Requirement already satisfied: parsel>=1.5.0 in /usr/local/lib/python3.8/dist-packages (from scrapy) (1.7.0)
Requirement already satisfied: service-identity>=18.1.0 in /usr/local/lib/python3.8/dist-packages (from scrapy) (21.1.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from scrapy) (19.2)
Requirement already satisfied: PyDispatcher>=2.0.5 in /usr/local/lib/python3.8/dist-packages (from scrapy) (2.0.6)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from scrapy) (57.4.0)
Requirement already satisfied: cryptography>=3.4.6 in /usr/local/lib/python3.8/dist-packages (from scrapy) (39.0.1)
Requirement already satisfied: zope.interface>=5.1.0 in /usr/local/lib/python3.8/dist-packages (from scrapy) (5.5.2)
Requirement already satisfied: pyOpenSSL>=21.0.0 in /usr/local/lib/python3.8/dist-packages (from scrapy) (23.0.0)
Requirement already satisfied: lxml>=4.3.0 in /usr/local/lib/python3.8/dist-packages (from scrapy) (4.9.2)
Requirement already satisfied: w3lib>=1.17.0 in /usr/local/lib/python3.8/dist-packages (from scrapy) (2.1.1)
Requirement already satisfied: itemadapter>=0.1.0 in /usr/local/lib/python3.8/dist-packages (from scrapy) (0.7.0)
Requirement already satisfied: cssselect>=0.9.1 in /usr/local/lib/python3.8/dist-packages (from scrapy) (1.2.0)
Requirement already satisfied: Twisted>=18.9.0 in /usr/local/lib/python3.8/dist-packages (from scrapy) (22.10.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.4.6->scrapy) (1.15.1)
Requirement already satisfied: jmespath>=0.9.5 in /usr/local/lib/python3.8/dist-packages (from itemloaders>=1.0.1->scrapy) (1.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from protego>=0.1.15->scrapy) (1.15.0)
Requirement already satisfied: pyasn1-modules in /usr/local/lib/python3.8/dist-packages (from service-identity>=18.1.0->scrapy) (0.2.8)
Requirement already satisfied: attrs>=19.1.0 in /usr/local/lib/python3.8/dist-packages (from service-identity>=18.1.0->scrapy) (22.2.0)
Requirement already satisfied: pyasn1 in /usr/local/lib/python3.8/dist-packages (from service-identity>=18.1.0->scrapy) (0.4.8)
Requirement already satisfied: hyperlink>=17.1.1 in /usr/local/lib/python3.8/dist-packages (from Twisted>=18.9.0->scrapy) (21.0.0)
Requirement already satisfied: incremental>=21.3.0 in /usr/local/lib/python3.8/dist-packages (from Twisted>=18.9.0->scrapy) (22.10.0)
Requirement already satisfied: constantly>=15.1 in /usr/local/lib/python3.8/dist-packages (from Twisted>=18.9.0->scrapy) (15.1.0)
Requirement already satisfied: Automat>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from Twisted>=18.9.0->scrapy) (22.10.0)
Requirement already satisfied: typing-extensions>=3.6.5 in /usr/local/lib/python3.8/dist-packages (from Twisted>=18.9.0->scrapy) (4.4.0)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging->scrapy) (3.0.9)
Requirement already satisfied: idna in /usr/local/lib/python3.8/dist-packages (from tldextract->scrapy) (2.10)
Requirement already satisfied: requests-file>=1.4 in /usr/local/lib/python3.8/dist-packages (from tldextract->scrapy) (1.5.1)
Requirement already satisfied: filelock>=3.0.8 in /usr/local/lib/python3.8/dist-packages (from tldextract->scrapy) (3.9.0)
Requirement already satisfied: requests>=2.1.0 in /usr/local/lib/python3.8/dist-packages (from tldextract->scrapy) (2.25.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.4.6->scrapy) (2.21)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.1.0->tldextract->scrapy) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.1.0->tldextract->scrapy) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.1.0->tldextract->scrapy) (4.0.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (4.6.3)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: seaborn in /usr/local/lib/python3.8/dist-packages (0.11.2)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.8/dist-packages (from seaborn) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.8/dist-packages (from seaborn) (1.21.6)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.8/dist-packages (from seaborn) (1.7.3)
Requirement already satisfied: matplotlib>=2.2 in /usr/local/lib/python3.8/dist-packages (from seaborn) (3.2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.2->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.2->seaborn) (1.4.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.23->seaborn) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib>=2.2->seaborn) (1.15.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geoplotlib in /usr/local/lib/python3.8/dist-packages (0.3.2)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Pyglet in /usr/local/lib/python3.8/dist-packages (2.0.4)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (5.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from plotly) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly) (8.2.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

### Libraries Imported Explicitly

In [152]:
## Data Mining - explicit mention
import scrapy
from bs4 import BeautifulSoup

In [153]:
## Python to Web Queries Made easier
import requests
import json
import urllib3
from urllib3 import request

In [154]:
## to handle certificate verification
import certifi

In [155]:
## Data Processing and Modeling - explicit mention
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [156]:
## Data Viz and Plotting
import seaborn as sns

# OFF SWITCH -> import geoplotlib
# OFF SWITCH -> from geoplotlib.utils import read_csv, BoundingBox

import plotly.express as px

## Dataviz Libraries Appendix
# Link: https://towardsdatascience.com/best-libraries-for-geospatial-data-visualisation-in-python-d23834173b35

In [157]:
## Pipeline - ETL Library
import bonobo #Footnote: https://www.bonobo-project.org/

In [158]:
# Handling Certificate Validation (see pip install certifi)
#http = urllib3.PoolManager(
#      cert_reqs==|CERT_REQUIRED|
#      ca_certs==certifi.where())

In [159]:
# to handle certificate verification
import certifi

### Import Datasets and Accompanying Details

In [160]:
# Import Data

## How To: Compile the data for this analysis 
## Step 1. Pull data from PDF (
## [Maternal deaths and mortality rates: Each state, the District of Columbia, United States, 2018‐2020](https://www.cdc.gov/nchs/maternal-mortality/MMR-2018-2020-State-Data.pdf)


## Step 2. Webscrape data from guardian website (https://www.theguardian.com/us-news/ng-interactive/2022/jun/28/tracking-where-abortion-laws-stand-in-every-state))

In [161]:
## STEP 1 ---- Ingesting "Maternal deaths and mortality rates: Each state, the District of Columbia, United States, 2018‐2020" 
### Byline: NCHS, National Vital Statistics SystemSOURCE: NCHS, National Vital Statistics System
### Shape of the Data: PDF file

 
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

worksheet = gc.open('VitalStatistics_raw_data').sheet1

# get_all_values gives a list of rows.
rows = worksheet.get_all_values()
print(rows)

# Convert to a DataFrame and render.
VitalStatistics_clean_df = pd.DataFrame.from_records(rows)

# Print Table as a Success Check
# VitalStatistics_clean_df.head(52)

### FOOTNOTES
# Importing from Google Sheets - https://colab.research.google.com/notebooks/snippets/sheets.ipynb#scrollTo=JiJVCmu3dhFa

[['State', 'Abbreviation', 'Deaths [1]', 'Maternal mortality rate', '95% lower confidence limit', '95% upper confidence limit'], ['Alabama', 'AL', '63', '36.2', '27.8', '46.3'], ['Alaska', 'AK', '8', '*', '*', '*'], ['Arizona', 'AZ', '67', '28.3', '21.9', '35.9'], ['Arkansas', 'AR', '44', '40.4', '29.4', '54.3'], ['California', 'CA', '135', '10.2', '8.5', '11.9'], ['Colorado', 'CO', '27', '14.4', '9.5', '21.0'], ['Connecticut', 'CT', '18', '*', '*', '*'], ['Delaware', 'DE', '5', '*', '*', '*'], ['District of Columbia', '', '7', '*', '*', '*'], ['Florida', 'FL', '141', '21.7', '18.1', '25.2'], ['Georgia', 'GA', '108', '28.8', '23.4', '34.2'], ['Hawaii', 'HI', '7', '*', '*', '*'], ['Idaho', 'ID', '11', '*', '*', '*'], ['Illinois', 'IL', '54', '12.9', '9.7', '16.8'], ['Indiana', 'IN', '68', '28.2', '21.9', '35.8'], ['Iowa', 'IA', '14', '*', '*', '*'], ['Kansas', 'KS', '23', '21.7', '13.8', '32.5'], ['Kentucky[D]', 'KY', '63', '39.7', '30.5', '50.8'], ['Louisiana', 'LA', '56', '31.8', '24.1', '41.3'], ['Maine', 'ME', '3', '*', '*', '*'], ['Maryland', 'MD', '39', '18.6', '13.2', '25.4'], ['Massachusetts[D]', 'MA', '30', '14.7', '9.9', '20.9'], ['Michigan', 'MI', '63', '19.6', '15.0', '25.0'], ['Minnesota', 'MN', '19', '*', '*', '*'], ['Mississippi', 'MS', '33', '30.2', '20.8', '42.5'], ['Missouri', 'MO', '54', '25.2', '18.9', '32.8'], ['Montana', 'MT', '8', '*', '*', '*'], ['Nebraska', 'NE', '21', '28.2', '17.4', '43.1'], ['Nevada', 'NV', '20', '19.2', '11.7', '29.6'], ['New Hampshire', 'NH', '2', '*', '*', '*'], ['New Jersey', 'NJ', '72', '24.1', '18.9', '30.3'], ['New Mexico', 'NM', '10', '*', '*', '*'], ['New York', 'NY', '133', '20.2', '16.8', '23.7'], ['North Carolina', 'NC', '73', '20.6', '16.1', '25.9'], ['North Dakota', 'ND', '7', '*', '*', '*'], ['Ohio', 'OH', '85', '21.3', '17.0', '26.4'], ['Oklahoma', 'OK', '36', '24.6', '17.2', '34.0'], ['Oregon', 'OR', '18', '*', '*', '*'], ['Pennsylvania[D]', 'PA', '60', '15.0', '11.4', '19.3'], ['Rhode Island', 'RI', '5', '*', '*', '*'], ['South Carolina', 'SC', '49', '28.9', '21.4', '38.2'], ['South Dakota', 'SD', '7', '*', '*', '*'], ['Tennessee', 'TN', '83', '34.6', '27.6', '42.9'], ['Texas', 'TX', '257', '22.9', '20.1', '25.7'], ['Utah', 'UT', '17', '*', '*', '*'], ['Vermont', 'VT', '1', '*', '*', '*'], ['Virginia[D]', 'VA', '65', '22.3', '17.2', '28.4'], ['Washington', 'WA', '52', '20.5', '15.3', '26.8'], ['West Virginia', 'WV', '12', '*', '*', '*'], ['Wisconsin', 'WI', '17', '*', '*', '*'], ['Wyoming', 'WY', '3', '*', '*', '*'], ['', '', '', '', '', ''], ['United States - Total', '', '2,273', '20.4', '19.5', '21.2'], ['', '', '', '', '', ''], ['Footnote - Rates are per 100,000 live births. Data are tabulated by place of residence', '', '', '', '', ''], ['* Data suppressed due to reliability and confidentiality restrictions.', '', '', '', '', ''], ['[1] Maternal deaths include deaths of women while pregnant or within 42 days of termination of pregnancy, irrespective of the duration and the site of the pregnancy, from any cause related to or aggravated by the pregnancy or its management, but not from accidental or incidental causes.', '', '', '', '', ''], ['\nNOTES: Caution should be taken in interpreting these data and comparing states for the following reasons.', '', '', '', '', ''], ['‐ For many states, the data are based on small numbers and are, therefore, statistically unreliable. Statistical variability in the maternal mortality rate is determined largely by the number of maternal deaths (i.e., as the number of deaths decreases, the variance, or measure of uncertainty, increases). Rates based on fewer than 20 deaths are suppressed because of reliability and confidentiality.', '', '', '', '', ''], ['‐ It is likely that some of the variation in state rates is due to the marked differences in the quality of state maternal mortality data. Variation in the quality of reporting maternal deaths may be due to differences in electronic registration systems and differences in policies and programs designed to verify the pregnancy status of female decedents of reproductive age. These differences may result in underestimates of maternal deaths in some cases, and overestimates in others.', '', '', '', '', ''], ['', '', '', '', '', ''], ['Maternal deaths and mortality rates: Each state, the District of Columbia, United States, 2018‐2020 [Rates are per 100,000 live births', '', '', '', '', ''], ['Source: NCHS, National Vital Statistics System', '', '', '', '', ''], ['Link: https://www.cdc.gov/nchs/maternal-mortality/MMR-2018-2020-State-Data.pdf', '', '', '', '', ''], ['', '', '', '', '', ''], ['Data Decisions', '', '', '', '', ''], ['Number', 'Summary', 'Why', '', '', '']]

In [162]:
# IMPORT Table 1 - NCHS Vital Statistics
## Standardize table versions so pipeline can only read but not write from datasource
VitalStatistics_df = VitalStatistics_clean_df.head(52)

# First row to header
VitalStatistics_df.columns = VitalStatistics_df.iloc[0]
VitalStatistics_df = VitalStatistics_df[2:]

# Rubber Stamping - Ready to Use Data: Table 1 Maternal Mortality Data
VitalStatistics_df.head()

,State,Abbreviation,Deaths [1],Maternal mortality rate,95% lower confidence limit,95% upper confidence limit
2,Alaska,AK,8,*,*,*
3,Arizona,AZ,67,28.3,21.9,35.9
4,Arkansas,AR,44,40.4,29.4,54.3
5,California,CA,135,10.2,8.5,11.9
6,Colorado,CO,27,14.4,9.5,21.0

In [163]:
# Summary Statistics
VitalStatistics_df.describe()

,State,Abbreviation,Deaths [1],Maternal mortality rate,95% lower confidence limit,95% upper confidence limit
count,50,50,50,50,50,50
unique,50,50,40,28,27,30
top,Alaska,AK,7,*,*,*
freq,1,1,4,21,21,21

In [164]:
# PreWork - Data Cleaning

## 1. View current types
print(VitalStatistics_df.dtypes)

0
State                         object
Abbreviation                  object
Deaths [1]                    object
Maternal mortality rate       object
95% lower confidence limit    object
95% upper confidence limit    object
dtype: object

In [165]:
# List of Columns
VitalStatistics_df.columns.values.tolist()

['State',
 'Abbreviation',
 'Deaths [1]',
 'Maternal mortality rate',
 '95% lower confidence limit',
 '95% upper confidence limit']

In [166]:
# IMPORT Table 2 - The Guardian's Abortion Tracker Viz as of 
## Standardize table versions so pipeline can only read but not write from datasource

In [167]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

worksheet = gc.open('The Guardian | Tracking where abortion laws stand in every state').sheet1

# get_all_values gives a list of rows.
rows = worksheet.get_all_values()
print(rows)

# Convert to a DataFrame and render.
#import pandas as pd
guardian_abortiontracker = pd.DataFrame.from_records(rows)

[['State', 'State Abbreviation', 'Status', 'Current Limit', 'Abortions in 2020', 'Women of reproductive age - Clean', 'Women of Reproductive Age - Raw', 'Measure', 'GOP Controlled', 'Pre-Roe ban', 'Trigger Ban', 'Exception for rape or incest'], ['Alabama', 'AL', 'Banned', 'Conception', '5,700', '952,000', '952k', 'k', 'Yes', 'Yes', 'No', 'No'], ['Alaska', 'AK', 'Legal', 'None', '1,240', '145,000', '145k', 'k', 'Yes', 'No', 'No', 'No'], ['Arizona', 'AZ', 'Banned', 'Conception', '13,320', '1,400,000', '1.4m', 'm', 'Yes', 'Yes', 'No', 'No'], ['Arkansas', 'AR', 'Banned', 'Conception', '3,250', '580,000', '580k', 'k', 'Yes', 'Yes', 'Yes', 'No'], ['California', 'CA', 'Legal', 'Fetal Viability (24-26 weeks)', '154,060', '8,100,000', '8.1m', 'm', 'No', 'No', 'No', 'No'], ['Colorado', 'CO', 'Legal', 'None', '13,420', '1,200,000', '1.2m', 'm', 'No', 'No', 'No', 'No'], ['Connecticut', 'CT', 'Legal', 'Fetal Viability (24-26 weeks)', '11,170', '671,000', '671k', 'k', 'No', 'No', 'No', 'No'], ['Delaware', 'DE', 'Legal', 'Fetal Viability (24-26 weeks)', '1,830', '180,000', '180k', 'k', 'No', 'No', 'No', 'No'], ['Florida', 'FL', 'Threatened', '15 weeks', '77,400', '3,900,000', '3.9m', 'm', 'Yes', 'No', 'No', 'No'], ['Georgia', 'GA', 'Banned after 6 weeks', '6 weeks', '41,620', '4,400,000', '4.4m', 'm', 'Yes', 'No', 'No', 'Yes'], ['Hawaii', 'HI', 'Legal', 'Conception', '3,130', '263,000', '263k', 'k', 'No', 'No', 'No', 'No'], ['Idaho', 'ID', 'Banned', 'Conception', '1,690', '339,000', '339k', 'k', 'Yes', 'No', 'Yes', 'Yes'], ['Illinois', 'IL', 'Legal', 'Fetal Viability (24-26 weeks)', '52,780', '2,500,000', '2.5m', 'm', 'No', 'No', 'No', 'No'], ['Indiana', 'IN', 'Ban blocked', '22 weeks', '7,880', '1,300,000', '1.3m', 'm', 'Yes', 'No', 'No', 'Yes'], ['Iowa', 'IA', 'Threatened', '22 weeks', '3,510', '594,000', '594k', 'k', 'Yes', 'No', 'No', 'No'], ['Kansas', 'KS', 'Legal', '22 weeks', '8,190', '561,000', '561k', 'k', 'No', 'No', 'No', 'No'], ['Kentucky', 'KY', 'Banned', 'Conception', '4,080', '851,000', '851k', 'k', 'No', 'No', 'Yes', 'No'], ['Louisiana', 'LA', 'Banned', 'Conception', '7,360', '929,000', '929k', 'k', 'No', 'No', 'Yes', 'No'], ['Maine', 'ME', 'Legal', 'Fetal Viability (24-26 weeks)', '2,370', '233,000', '233k', 'k', 'No', 'No', 'No', 'No'], ['Maryland', 'MD', 'Legal', 'Fetal Viability (24-26 weeks)', '30,750', '1,200,000', '1.2m', 'm', 'No', 'No', 'No', 'No'], ['Massachusetts', 'MA', 'Legal', '24 weeks', '17,060', '1,400,000', '1.4m', 'm', 'No', 'No', 'No', 'No'], ['Michigan', 'MI', 'Ban blocked', 'Fetal Viability (24-26 weeks)', '31,510', '1,900,000', '1.9m', 'm', 'No', 'Yes', 'No', 'No'], ['Minnesota', 'MN', 'Legal', 'Fetal Viability (24-26 weeks)', '11,060', '1,100,000', '1.1m', 'm', 'No', 'No', 'No', 'No'], ['Mississippi', 'MS', 'Banned', 'Conception', '3,560', '591,000', '591k', 'k', 'Yes', 'Yes', 'Yes', 'Yes'], ['Missouri', 'MO', 'Banned', 'Conception', '170', '1,200,000', '1.2m', 'm', 'Yes', 'No', 'Yes', 'No'], ['Montana', 'MT', 'Threatened', 'Fetal Viability (24-26 weeks)', '1,630', '194,000', '194k', 'k', 'Yes', 'No', 'No', 'No'], ['Nebraska', 'NE', 'Threatened', '22 weeks', '2,200', '373,000', '373k', 'k', 'No', 'No', 'No', 'No'], ['Nevada', 'NV', 'Legal', '24 weeks', '11,010', '593,000', '593k', 'k', 'No', 'No', 'No', 'No'], ['New Hampshire', 'NH', 'Legal', '24 weeks', '2,050', '245,000', '245k', 'k', 'Yes', 'No', 'No', 'No'], ['New Jersey', 'NJ', 'Legal', 'None', '48,830', '1,700,000', '1.7m', 'm', 'No', 'No', 'No', 'No'], ['New Mexico', 'NM', 'Legal', 'None', '5,880', '399,000', '399k', 'k', 'No', 'No', 'No', 'No'], ['New York', 'NY', 'Legal', 'Fetal Viability (24-26 weeks)', '110,360', '3,900,000', '3.9m', 'm', 'No', 'No', 'No', 'No'], ['North Carolina', 'NC', 'Threatened', '20 weeks', '31,850', '2,000,000', '2.0m', 'm', 'No', 'No', 'No', 'No'], ['North Dakota', 'ND', 'Ban blocked', '22 weeks', '1,170', '149,000', '149k', 'k', 'Yes', 'No', 'Yes', 'Yes'], ['Ohio', 'OH', 'Ban blocked', '22 weeks', '20,990', '2,200,000', '2.2m', 'm', 'Yes', 'No', 'No', 'No'], ['Oklahoma', 'OK', 'Banned', 'Conception', '9,690', '773,000', '773k', 'k', 'Yes', 'Yes', 'No', 'Yes'], ['Oregon', 'OR', 'Legal', 'None', '8,560', '820,000', '820k', 'k', 'No', 'No', 'No', 'No'], ['Pennsylvania', 'PA', 'Threatened', '24 weeks', '32,270', '2,400,000', '2.4m', 'm', 'No', 'No', 'No', 'No'], ['Rhode Island', 'RI', 'Legal', 'Fetal Viability (24-26 weeks)', '2,760', '208,000', '208k', 'k', 'No', 'No', 'No', 'No'], ['South Carolina', 'SC', 'Ban blocked', '20 weeks', '5,300', '978,000', '978k', 'k', 'Yes', 'No', 'No', 'Yes'], ['South Dakota', 'SD', 'Banned', 'Conception', '130', '162,000', '162k', 'k', 'Yes', 'No', 'No', 'No'], ['Tennessee', 'TN', 'Banned', 'Conception', '10,850', '1,300,000', '1.3m', 'm', 'Yes', 'No', 'Yes', 'No'], ['Texas', 'TX', 'Banned', 'Conception', '58,030', '6,000,000', '6.0m', 'm', 'Yes', 'Yes', 'Yes', 'No'], ['Utah', 'UT', 'Ban blocked', '18 weeks', '3,120', '689,000', '689k', 'k', 'Yes', 'No', 'Yes', 'Yes'], ['Vermont', 'VT', 'Legal', 'None', '1,230', '115,000', '115k', 'k', 'No', 'No', 'No', 'No'], ['Virginia', 'VA', 'Threatened', 'Third Trimester', '18,740', '1,700,000', '1.7m', 'm', 'No', 'No', 'No', 'No'], ['Washington', 'WA', 'Legal', 'Fetal Viability (24-26 weeks)', '17,980', '1,500,000', '1.5m', 'm', 'No', 'No', 'No', 'No'], ['Washington DC', 'DC', 'Legal', 'None', '9,410', '189,000', '189k', 'k', 'No', 'No', 'No', 'No'], ['West Virginia', 'WV', 'Ban blocked', '22 weeks', '990', '320,000', '320k', 'k', 'Yes', 'Yes', 'No', 'No'], ['Wisconsin', 'WI', 'Banned', 'Conception, but not enforced', '6,960', '1,100,000', '1.1m', 'm', 'No', 'Yes', 'No', 'No'], ['Wyoming', 'WY', 'Ban blocked', 'Fetal Viability (24-26 weeks)', '100', '109,000', '109k', 'k', 'Yes', 'No', 'Yes', 'Yes'], ['', '', '', '', '', '', '', '', '', '', '', ''], ['Legal Status of Abortion, Detailed', '', '', '', '', '', '', '', '', '', '', '']]

### Joining the two tables!

In [168]:
## Table 1 - Raw
guardian_abortiontracker.head()


### Last minute data cleaning
# 00 - Set first row as header in pandas | Footnote: https://www.statology.org/pandas-set-first-row-as-header/
guardian_abortiontracker.columns = guardian_abortiontracker.iloc[0]
guardian_abortiontracker = guardian_abortiontracker[1:]


## Table 1 - Clean - The Guardian - Abortion in the US
guardian_abortiontracker.head()

,State,State Abbreviation,Status,Current Limit,Abortions in 2020,Women of reproductive age - Clean,Women of Reproductive Age - Raw,Measure,GOP Controlled,Pre-Roe ban,Trigger Ban,Exception for rape or incest
1,Alabama,AL,Banned,Conception,"5,700","952,000",952k,k,Yes,Yes,No,No
2,Alaska,AK,Legal,None,"1,240","145,000",145k,k,Yes,No,No,No
3,Arizona,AZ,Banned,Conception,"13,320","1,400,000",1.4m,m,Yes,Yes,No,No
4,Arkansas,AR,Banned,Conception,"3,250","580,000",580k,k,Yes,Yes,Yes,No
5,California,CA,Legal,Fetal Viability (24-26 weeks),"154,060","8,100,000",8.1m,m,No,No,No,No

In [169]:
## Table 2 - NCHS Vital Statistics Report
VitalStatistics_df.head()

,State,Abbreviation,Deaths [1],Maternal mortality rate,95% lower confidence limit,95% upper confidence limit
2,Alaska,AK,8,*,*,*
3,Arizona,AZ,67,28.3,21.9,35.9
4,Arkansas,AR,44,40.4,29.4,54.3
5,California,CA,135,10.2,8.5,11.9
6,Colorado,CO,27,14.4,9.5,21.0

In [170]:
## Joining Tables 1 & 2 | Footnote - https://towardsdatascience.com/left-join-with-pandas-data-frames-in-python-c29c85089ba4
Forecast_raw_df = VitalStatistics_df.merge(guardian_abortiontracker, on='State', how='left')
Forecast_raw_df

,State,Abbreviation,Deaths [1],Maternal mortality rate,95% lower confidence limit,95% upper confidence limit,State Abbreviation,Status,Current Limit,Abortions in 2020,Women of reproductive age - Clean,Women of Reproductive Age - Raw,Measure,GOP Controlled,Pre-Roe ban,Trigger Ban,Exception for rape or incest
0,Alaska,AK,8,*,*,*,AK,Legal,None,"1,240","145,000",145k,k,Yes,No,No,No
1,Arizona,AZ,67,28.3,21.9,35.9,AZ,Banned,Conception,"13,320","1,400,000",1.4m,m,Yes,Yes,No,No
2,Arkansas,AR,44,40.4,29.4,54.3,AR,Banned,Conception,"3,250","580,000",580k,k,Yes,Yes,Yes,No
3,California,CA,135,10.2,8.5,11.9,CA,Legal,Fetal Viability (24-26 weeks),"154,060","8,100,000",8.1m,m,No,No,No,No
4,Colorado,CO,27,14.4,9.5,21.0,CO,Legal,None,"13,420","1,200,000",1.2m,m,No,No,No,No
5,Connecticut,CT,18,*,*,*,CT,Legal,Fetal Viability (24-26 weeks),"11,170","671,000",671k,k,No,No,No,No
6,Delaware,DE,5,*,*,*,DE,Legal,Fetal Viability (24-26 weeks),"1,830","180,000",180k,k,No,No,No,No
7,District of Columbia,,7,*,*,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Florida,FL,141,21.7,18.1,25.2,FL,Threatened,15 weeks,"77,400","3,900,000",3.9m,m,Yes,No,No,No
9,Georgia,GA,108,28.8,23.4,34.2,GA,Banned after 6 weeks,6 weeks,"41,620","4,400,000",4.4m,m,Yes,No,No,Yes
10,Hawaii,HI,7,*,*,*,HI,Legal,Conception,"3,130","263,000",263k,k,No,No,No,No
11,Idaho,ID,11,*,*,*,ID,Banned,Conception,"1,690","339,000",339k,k,Yes,No,Yes,Yes
12,Illinois,IL,54,12.9,9.7,16.8,IL,Legal,Fetal Viability (24-26 weeks),"52,780","2,500,000",2.5m,m,No,No,No,No
13,Indiana,IN,68,28.2,21.9,35.8,IN,Ban blocked,22 weeks,"7,880","1,300,000",1.3m,m,Yes,No,No,Yes
14,Iowa,IA,14,*,*,*,IA,Threatened,22 weeks,"3,510","594,000",594k,k,Yes,No,No,No
15,Kansas,KS,23,21.7,13.8,32.5,KS,Legal,22 weeks,"8,190","561,000",561k,k,No,No,No,No
16,Kentucky[D],KY,63,39.7,30.5,50.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Louisiana,LA,56,31.8,24.1,41.3,LA,Banned,Conception,"7,360","929,000",929k,k,No,No,Yes,No
18,Maine,ME,3,*,*,*,ME,Legal,Fetal Viability (24-26 weeks),"2,370","233,000",233k,k,No,No,No,No
19,Maryland,MD,39,18.6,13.2,25.4,MD,Legal,Fetal Viability (24-26 weeks),"30,750","1,200,000",1.2m,m,No,No,No,No
20,Massachusetts[D],MA,30,14.7,9.9,20.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Michigan,MI,63,19.6,15.0,25.0,MI,Ban blocked,Fetal Viability (24-26 weeks),"31,510","1,900,000",1.9m,m,No,Yes,No,No
22,Minnesota,MN,19,*,*,*,MN,Legal,Fetal Viability (24-26 weeks),"11,060","1,100,000",1.1m,m,No,No,No,No
23,Mississippi,MS,33,30.2,20.8,42.5,MS,Banned,Conception,"3,560","591,000",591k,k,Yes,Yes,Yes,Yes
24,Missouri,MO,54,25.2,18.9,32.8,MO,Banned,Conception,170,"1,200,000",1.2m,m,Yes,No,Yes,No
25,Montana,MT,8,*,*,*,MT,Threatened,Fetal Viability (24-26 weeks),"1,630","194,000",194k,k,Yes,No,No,No
26,Nebraska,NE,21,28.2,17.4,43.1,NE,Threatened,22 weeks,"2,200","373,000",373k,k,No,No,No,No
27,Nevada,NV,20,19.2,11.7,29.6,NV,Legal,24 weeks,"11,010","593,000",593k,k,No,No,No,No
28,New Hampshire,NH,2,*,*,*,NH,Legal,24 weeks,"2,050","245,000",245k,k,Yes,No,No,No
29,New Jersey,NJ,72,24.1,18.9,30.3,NJ,Legal,None,"48,830","1,700,000",1.7m,m,No,No,No,No
30,New Mexico,NM,10,*,*,*,NM,Legal,None,"5,880","399,000",399k,k,No,No,No,No
31,New York,NY,133,20.2,16.8,23.7,NY,Legal,Fetal Viability (24-26 weeks),"110,360","3,900,000",3.9m,m,No,No,No,No
32,North Carolina,NC,73,20.6,16.1,25.9,NC,Threatened,20 weeks,"31,850","2,000,000",2.0m,m,No,No,No,No
33,North Dakota,ND,7,*,*,*,ND,Ban blocked,22 weeks,"1,170","149,000",149k,k,Yes,No,Yes,Yes
34,Ohio,OH,85,21.3,17.0,26.4,OH,Ban blocked,22 weeks,"20,990","2,200,000",2.2m,m,Yes,No,No,No
35,Oklahoma,OK,36,24.6,17.2,34.0,OK,Banned,Conception,"9,690","773,000",773k,k,Yes,Yes,No,Yes
36,Oregon,OR,18,*,*,*,OR,Legal,None,"8,560","820,000",820k,k,No,No,No,No
37,Pennsylvania[D],PA,60,15.0,11.4,19.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Rhode Island,RI,5,*,*,*,RI,Legal,Fetal Viability (24-26 weeks),"2,760","208,000",208k,k,No,No,No,No
39,South Carolina,SC,49,28.9,21.4,38.2,SC,Ban blocked,20 weeks,"5,300","978,000",978k,k,Yes,No,No,Yes
40,South Dakota,SD,7,*,*,*,SD,Banned,Conception,130,"162,000",162k,k,Yes,No,No,No
41,Tennessee,TN,83,34.6,27.6,42.9,TN,Banned,Conception,"10,850","1,300,000",1.3m,m,Yes,No,Yes,No
42,Texas,TX,257,22.9,20.1,25.7,TX,Banned,Conception,"58,030","6,000,000",6.0m,m,Yes,Yes,Yes,No
43,Utah,UT,17,*,*,*,UT,Ban blocked,18 weeks,"3,120","689,000",689k,k,Yes,No,Yes,Yes
44,Vermont,VT,1,*,*,*,VT,Legal,None,"1,230","115,000",115k,k,No,No,No,No
45,Virginia[D],VA,65,22.3,17.2,28.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Washington,WA,52,20.5,15.3,26.8,WA,Legal,Fetal Viability (24-26 weeks),"17,980","1,500,000",1.5m,m,No,No,No,No
47,West Virginia,WV,12,*,*,*,WV,Ban blocked,22 weeks,990,"320,000",320k,k,Yes,Yes,No,No
48,Wisconsin,WI,17,*,*,*,WI,Banned,"Conception, but not enforced","6,960","1,100,000",1.1m,m,No,Yes,No,No
49,Wyoming,WY,3,*,*,*,WY,Ban blocked,Fetal Viability (24-26 weeks),100,"109,000",109k,k,Yes,No,Yes,Yes

In [171]:
### Cleaning Columns - Delete superfluous columns
# Forecast_df = Forecast_raw_df.drop(columns = ['State Abbreviation'])
# Forecast_df = Forecast_raw_df.drop(columns = ['Measure'])
# Forecast_df = Forecast_raw_df.drop(columns = ['Women of Reproductive Age - Raw'])
 
Forecast_df.head()

In [172]:
Forecast_df.describe()

NameError: ignored

## Analysis Section

1. What is the state of abortion access by state?
2. Which states have the highest rates of maternal mortality? (10 States)
3. Which states have the lowest number of abortion providers? (10 States)
4. Distribution of pregnancy related deaths for the US?
5. Venn Diagram of GOP Led, Banned, and ranking in the top 10 for maternal deaths!

## Analysis - Forecasting 

Forcasting the rise in mortality rates using past deaths and rates

## Exporting for DataViz in DataWrapper

# Conclusion

# Appendix

## Resources Referenced Throughout Research

***Institutions***
* [Centers for Disease Control and Prevention's National Center for Health Statistics (NCHS)](https://www.cdc.gov/nchs/maternal-mortality/data.htm)

***Data Sources***
* [National Center for Health Statistics. Compressed Mortality File, 1999-2016 (machine readable data file and documentation, CD‑ROM Series 20, No. 2V) as compiled from data provided by the 57 vital statistics jurisdictions through the Vital Statistics Cooperative Program.  Hyattsville, Maryland. 2017.](https://www.cdc.gov/nchs/data_access/cmf.htm)

* [Maternal deaths and mortality rates: Each state, the District of Columbia, United States, 2018‐2020](https://www.cdc.gov/nchs/maternal-mortality/MMR-2018-2020-State-Data.pdf)

* [Centers for Disease Control and Prevention's Reproductive Health Data and Statistics](https://www.cdc.gov/reproductivehealth/data_stats/index.htm)


***Articles/Academic Papers***
* [University of Colorado Boulder - Study: Banning abortion would boost maternal mortality by double digits](https://www.colorado.edu/today/2021/09/08/study-banning-abortion-would-boost-maternal-mortality-double-digits)

* [National Institute of Health's Office of Research on Women's Health - What Are Maternal Morbidity and Mortality?](https://orwh.od.nih.gov/mmm-portal/what-mmm)

* [Nelson, D.B., Moniz, M.H. & Davis, M.M. Population-level factors associated with maternal mortality in the United States, 1997–2012. BMC Public Health 18, 1007 (2018)](https://bmcpublichealth.biomedcentral.com/articles/10.1186/s12889-018-5935-2)

* [The Pew Charitable Trusts | Critics Fear Abortion Bans Could Jeopardize Health of Pregnant Women by Michael Ollove](https://www.pewtrusts.org/en/research-and-analysis/blogs/stateline/2022/06/22/critics-fear-abortion-bans-could-jeopardize-health-of-pregnant-women)

* [National Institutes of Health | Eunice Kennedy Shriver National Institute of Child Health and Human Development | What factors increase the risk of maternal morbidity and mortality?](https://www.nichd.nih.gov/health/topics/maternal-morbidity-mortality/conditioninfo/factors#)

* [The Guardian | Tracking Where Abortion Laws Stand in Every US State](https://www.theguardian.com/us-news/ng-interactive/2022/jun/28/tracking-where-abortion-laws-stand-in-every-state)